*.SchLib.Zip
*.Zip
*.PcbDocPreview
*.SchDocPreview
ROGO ALFA/Design Files/! Altium Specific Files/Altium Integrated Library/Altium_LIB/ALTIUM_LIB/ALTIUM_LIB.rar
ROGO ALFA/Design Files/! Altium Specific Files/Altium Integrated Library/Altium_LIB/AngleVu.PcbLib
ROGO ALFA/Design Files/! Altium Specific Files/Altium Integrated Library/Altium_LIB/AngleVu.SchLib
